* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  }
  
 body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #092448;
  background-image: url('your_background_image.jpg'); /* Replace 'your_background_image.jpg' with your actual background image */
  background-size: cover;
  background-position: center;
  filter: brightness(0.5); /* Adjust the brightness value (0 to 1) to darken the background image */
}

.container {
  width: 350px;
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value to control the transparency */
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

  
  /* Add styles for input elements */
  .container input,textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.55);
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;}
  
  /*textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	background-color: #eee;
	border: none;
	outline: none;
  }*/

  .btn {
    border: none !important;
    cursor: pointer;
    /* background-color: #32cd9c; */
    margin: 15px 0;
    font-size: 16px;
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    background-image: linear-gradient(-180deg, #41cce2, #3d0f56);
}
  
  .btn:hover {
	background-color: #1f7d5f;
	color: white;
  }
  
  .swal-button {
	background-color: #ab4173;
	color: #fff;
	border: none;
	box-shadow: none;
	border-radius: 5px;
	font-weight: 600;
	font-size: 14px;
	padding: 10px 24px;
	margin: 0;
	cursor: pointer;
  }
